:root{
--primary-color:#060025;
--secondary-color:#f99500;
--light-color:#f3f3f3;
--dark-color:#333;
--max-width:1100px
}

.bg-navbar{
background-color: var(--primary-color);
}

.color-nav-link{
color: var(--secondary-color);

}

main{
min-height: 90vh;
}

footer{
height: 10vh;
}